/*  
가로길이
커스텀 버튼 속성
유효성검사 input size (server-side bootstrap input)
*/


.mainlayout{
    width:560px;
    margin:auto;
    padding-bottom:10px;
    border-radius:10px;
    border: 2px solid rgb(173, 166, 166);
    background-color: white;
}

.content{
    padding:20px;
    padding-top:0;
    height:89%;
    padding-bottom: 100px;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(240, 240, 240);
}

