/*  
가로길이
커스텀 버튼 속성
유효성검사 input size (server-side bootstrap input)

*/

body {
    background-color: rgb(240, 240, 240);
}
.mainlayout {
    margin: 0 auto;
    width: 560px;
    height: 1000px;
    background-color: white;
}

.backbutton {
    padding-top: 10px;
    background-color: white;
    border: none;
}

.bi-chevron-left{
    margin-top: 10px;
    font-size: 40px;
    line-height: 40px;
}