.mypagecontainer{
    margin-top:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn-colour-1 {
    color: #f9f5f5;
    background-color: #407ef1;
    border:none;
    font-weight: bold;
    letter-spacing: 0.1em;
    height:3em;
    width:250px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .btn-colour-1:hover {
    color: #ffffff;
    background-color: #105ff1;
    transition:0.5s;
  }
  .btn-colour-2:disabled {
    pointer-events: none;
    background: grey;
  }
  .btn-colour-2 {
    color: #f9f5f5;
    background-color: #407ef1;
    border:none;
    font-weight: bold;
    letter-spacing: 0.1em;
    height:3em;
    width:250px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .update{
    margin-top:40px;
  }

  .input-group{
    width:320px;
  }

  .logout{
    margin-top: 20px;
    width:150px;
    margin-right:10px;
  }

  .deleteMember{
    width:150px;
  }