.mypagecontainer{
    margin-top:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn-colour-1 {
    color: #fff;
    background-color: #2093ff;
    border-style: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    height:3em;
    width:250px;
    border-radius: 10px;
    
  }
  
  .btn-colour-1:hover {
    background-color: #0051ff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:0.3s;
  }

  .update{
    margin-top:40px;
  }

  .input-group{
    width:320px;
  }

  .logout{
    margin-top: 20px;
    width:150px;
    margin-right:10px;
  }

  .deleteMember{
    width:150px;
  }