.navigationbar{
    display:flex;
    flex-direction: row;
    padding-top:15px;
    width:560px;
    padding:20px;
}

.navigationbar p{
    display:inline-block;
    margin:0 auto;
    margin-top:15px;
   
}